

h2{
    color: rgb(175, 116, 231);
    font-size: 200%;
  font-weight: bold;
  letter-spacing: 10px;
  text-align: center;
  text-shadow: rgb(221, 124, 197) 6px 6px 4px;
  text-transform: uppercase;
}
h5{
    text-decoration: underline;
}